<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Toxic Analysis Filter</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Template Main CSS File -->
  <link href="homepage.css" rel="stylesheet">

</head>
<header>
  <h1>Fubby Analyser</h1>
</header>
<body>

  <main id="main">
    <section id="comment" class="comment-section">
        <div class="container">
            <br/><br/><br/>
            <div class="section-title">
                <h1>Leave a Comment Here</h1>
            </div>
            <div class="form-container">
                    <form action="/analyse" name="form" method="post" role="form" class="form">
                      <div>
                       <input type="text" class="comment" name="comment" placeholder="Comentario">
                      </div>
                       <input class="send-button" type="submit" value="Enviar"/>
                    </form>
                  
            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->


<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

</body>

</html>