.comment-section {
    text-align: center;
}

.comment {
    width: 40%;
    height: 10vh;
    border-radius: 20px;
    text-overflow:ellipsis;
}

.form {
    width: 100%;
    height: 100%;
}

.form-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 20vh;
}

.send-button {
    margin-top: 1rem;
}